<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542540646956-k5muu5maln4o1utmqj4d1m0354anvi6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542540646956-k5muu5maln4o1utmqj4d1m0354anvi6h</string>
	<key>API_KEY</key>
	<string>AIzaSyAUafjdKT9-n8n_9r5CB317m5RQNEE8s0A</string>
	<key>GCM_SENDER_ID</key>
	<string>542540646956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentel.RentelReader.LoginIOSMac</string>
	<key>PROJECT_ID</key>
	<string>loginiosmac-532f2</string>
	<key>STORAGE_BUCKET</key>
	<string>loginiosmac-532f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542540646956:ios:7671b90739ac0e60c8df89</string>
</dict>
</plist>